* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio{
    background-color: #a8094b;
    height: 100px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #ffffff;
    color: #000000;
    font-size: 1.1em;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
    overflow-x: hidden; /*não conheço essa propriedade*/
    margin: 0;
    line-height: 30px;
}

h1 {
text-align: center;
color: #ffffff;
font-weight: 900;
font-size: 40px;
}

h2 {
color:#a8094b;
padding: auto;
text-align: center;
padding: 30px;
margin-bottom: 30px;
}

h3 {
font-size: 18px;
font-weight: 600;
font-style: oblique;
color:#7c1f46;
padding: 20px;
}

main {
margin: 40px;
}

p {
text-align: justify;
}

section {
border: thick double #7c1f46;
margin-bottom: 30px;
width: 50%;
}

button {
height: 36px;
border: none;
border-radius: 5px;
color: #000000;
cursor: pointer;
background-color: #ffffff;
font-weight: 600;
font-size: 14px;
outline: none;
}

#projeto1, #projeto2{
padding: 10px 20px;
height: 600px;
width: 700px;
border-radius: 50px;
background-color:#ecd3dd;
}

#formulario {
display: flex;
flex-wrap: wrap;
width: 100%;
}

#notas {
display: flex;
width: 100%;
justify-content: space-around;
}

#btnSituacao{
width: 300px;
height: 60px;
color:#ffffff;
background-color: #7c1f46;
}

#content {
display: flex;
align-items: center;
justify-content: center;
gap: 20px; /*define os espaços entre linhas e colunas*/
margin-top: 10px;
margin-bottom: 10px;
height: 700px;
max-width: 100%;
border-radius: 20px;
}

.containerCalculadora {
text-align: center;
padding: 10px;
}

.containerCalculoMedia{
height: 700px;
max-width: 100%;
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
padding: 10px;
}

#contentCalculoMedias {
display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}

.nota {
display: flex;
flex-direction: column;
}

.inputCalc {
width: 110px;
height: 38px;
border:none;
outline: none;
border-radius: 5px;
font-weight: 600;
font-size: 16px;
padding: 10px;
color: #383838;
background-color: #ffffff;
}

.buttonCalc {
width: 110px;
height: 38px;
background-color: #7c1f46;
color: #ffffff;
}

.resultado {
margin-top: 0;
font-weight: 600;
font-size: 18px;
color: #383838;
}

.inputNota{
width: 80px;
height: 36px;
border: none;
outline: none;
border-radius: 5px;
font-weight: 600;
font-size: 16px;
padding: 10px;
color: #383838;
font-family: 'Inter', sans-serif;
background-color: #ffffff;
}